@font-face {
	font-family: 'Sigmar One'; src: url('../fonts/SigmarOne.ttf');
}

html, body {
	margin: 0;
	padding: 0;
}

#gamediv {
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
}

#gamediv canvas {
	margin: 0px auto;
}